.package-area{
    background-color: #17A2B8;
    padding-top: 50px;
    padding-bottom: 100px;
}
.card img{
    height:50px;
    width:50px
}
.card:hover .service-img img{
    animation: zoomIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
}