.testimonial-area{
    background-color: #F6F5F5;
    padding-top: 50px;
    padding-bottom: 100px;
}
.inspire-area{
    background-color: #FFC107;
    padding:50px;
}
.btn-danger {
    padding:10px 40px;
}